@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="~/resources/logo.jpeg" alt="Logo" class="img-fluid rounded shadow mb-4" style="max-height: 250px;" />
            <h1 class="display-4">Welcome to I-Car Services</h1>
            <p class="lead">A smart platform to connect customers with vehicle service providers.</p>
            <a class="btn btn-primary mt-3" href="/Customer/Register">Get Started</a>
        </div>
    </div>
</div>
